<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
<div class="container-single">
    <div class="row">
        <div class="col-1" style="background-color: purple">  
        </div>      
       
        <div class="col-10" style="background-color: beige;">
             <div class="row">
                <div id="popularMovies" class="col-6 text-center"> 
                <% movieResult.map((movie)=>{ %>
                    <div class="small-result" style="border: 1px dotted purple; padding: 1px; margin: 1px">
                        <a href="/movie/<%=movie.id%>"><%=movie.title%></a>
                    </div>       
                    <% })%>
                </div>
                <div id="popularTV" class="col-6 text-center">
                <% tvResult.map((tvShow)=>{ %>
                    <div class="small-result" style="border: 1px dotted purple; padding: 1px; margin: 1px">
                    <a href="/tv/<%=tvShow.id%>"><%=tvShow.name%></a> 
                </div>
                <% }) %>
            </div>
            <hr>
            <h5><span class="plot text-center">paragraph</span></h5>
            <h3><p class="plot text-center"></p></h3>
            <h3><p class="plot text-center"></p></h3>
            <h3><p class="plot text-center"></p></h3>
            </div>
            </div>

        <div class="col-1" style="background-color: purple"></div>
        
    </div>
</div>


<%- include("../partials/footer") %>