<%- include("../partials/header") %>
<%- include("../partials/navBar") %>

<h1>Results for "<%=search_query%>"</h1>

<% searchData.map((show)=>{ %>
    <div class="result-container" style="border: 2px solid black; width: 600px; margin: 15px;">
        <div class="row">
            <div class="col-7">
                <a href="/<%=show.media_type%>/<%=show.id%>"><h4><%=show.title || show.name%></h4><a>
                <hr>
                <h6><%=show.release_date %></h6>
            </div>
            <div class="col-4">
                <img src="https://image.tmdb.org/t/p/w92<%=show.poster_path%>" alt="">
            </div>
        </div>
    </div>
<%})%>

<%- include("../partials/footer") %>
